<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>chat app</h1>
    <textarea name="" id="chat-log" cols="100" rows="20"></textarea><br>
    <input type="text" name="" id="chat-message-input" size="103"><br>
    <input type="button" value="Send" id="chat-message-send">

    <script>
        var ws = new WebSocket('ws://127.0.0.1:8000/ws/sc/')
        {% comment %} var ws = new WebSocket('ws://127.0.0.1:8000/ws/ac/') {% endcomment %}
        ws.onopen = function(){
            console.log('connection open')
        }
        ws.onmessage = function(event){
            console.log('message recive from server', event)
            var data = JSON.parse(event.data)
            document.querySelector('#chat-log').value += (data.msg + '\n')
        }
        ws.onclose = function(event){
            console.log('connection closed', event)
        }

        document.getElementById('chat-message-send').onclick = function (event) {
            var message = document.getElementById('chat-message-input').value
            ws.send(JSON.stringify({
                'msg': message
            }))
            document.getElementById('chat-message-input').value = ''
        }
    </script>
</body>
</html>